#########################
# general patterns
#########################

docs/html
docs/tagfile.xml

*/bin/*
!*/bin/data/

# for bin folder in root
/bin/*
!/bin/data/

[Bb]uild/
[Oo]bj/
*.o
[Dd]ebug*/
[Rr]elease*/
*.mode*
*.app/
*.pyc
.svn/

#########################
# IDE
#########################

# XCode
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
#XCode 4
xcuserdata
*.xcworkspace

# Code::Blocks
*.depend
*.layout
*.cbTemp

# Visual Studio
*.sdf
*.opensdf
*.suo
*.pdb
*.ilk
*.aps
.vs
ipch/

# Eclipse
.metadata
local.properties
.externalToolBuilders

# Codelite
*.session
*.tags
*.workspace.*

#########################
# operating system
#########################

# Linux
*~
# KDE
.directory
.AppleDouble

# OSX
.DS_Store
*.swp
*~.nib
# Thumbnails
._*

# Windows
# Windows image file caches
Thumbs.db
# Folder config file
Desktop.ini

#Android
.csettings

#########################
# packages
#########################

# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases
*.log
*.sql
*.sqlite
*.sln
*.vcxproj
example-bodies/addons.make
example-bodies/bin/data/shaders/render.frag
example-bodies/bin/data/shaders/render.vert
example-bodies/example-bodies.sln
example-bodies/example-bodies.vcxproj
example-bodies/example-bodies.vcxproj.filters
example-bodies/example-bodies.vcxproj.user
example-bodies/icon.rc
example-bodies/src/main.cpp
example-bodies/src/ofApp.cpp
example-bodies/src/ofApp.h
example-multi/addons.make
example-multi/example-multi.sln
example-multi/example-multi.vcxproj
example-multi/example-multi.vcxproj.filters
example-multi/example-multi.vcxproj.user
example-multi/icon.rc
example-multi/src/main.cpp
example-multi/src/ofApp.cpp
example-multi/src/ofApp.h
example-playback/addons.make
example-playback/bin/data/output.mkv
example-playback/example-playback.vcxproj.filters
example-playback/example-playback.vcxproj.user
example-playback/icon.rc
example-playback/src/main.cpp
example-playback/src/ofApp.cpp
example-playback/src/ofApp.h
example-pointcloud/addons.make
example-pointcloud/example-pointcloud.sln
example-pointcloud/example-pointcloud.vcxproj
example-pointcloud/example-pointcloud.vcxproj.filters
example-pointcloud/example-pointcloud.vcxproj.user
example-pointcloud/icon.rc
example-pointcloud/src/main.cpp
example-pointcloud/src/ofApp.cpp
example-pointcloud/src/ofApp.h
example-record/addons.make
example-record/bin/data/output_20200817_15-12-17.mkv
example-record/bin/data/output_20200818_16-13-41.mkv
example-record/example-record.vcxproj.filters
example-record/example-record.vcxproj.user
example-record/icon.rc
example-record/src/main.cpp
example-record/src/ofApp.cpp
example-record/src/ofApp.h
example-shader/addons.make
example-shader/bin/data/shaders/render.frag
example-shader/bin/data/shaders/render.geom
example-shader/bin/data/shaders/render.vert
example-shader/example-shader.vcxproj
example-shader/example-shader.vcxproj.filters
example-shader/icon.rc
example-shader/src/main.cpp
example-shader/src/ofApp.cpp
example-shader/src/ofApp.h
example-streams/addons.make
example-streams/example-streams.vcxproj
example-streams/example-streams.vcxproj.filters
example-streams/icon.rc
example-streams/src/main.cpp
example-streams/src/ofApp.cpp
example-streams/src/ofApp.h
libs/turbojpeg/include/turbojpeg.h
LICENSE
README.md
src/ofxAzureKinect.h
src/ofxAzureKinect/BodyTracker.cpp
src/ofxAzureKinect/BodyTracker.h
src/ofxAzureKinect/Playback.cpp
src/ofxAzureKinect/Playback.h
src/ofxAzureKinect/Record.cpp
src/ofxAzureKinect/Record.h
src/ofxAzureKinect/Types.h
